@theme inline {
  --anniversary: var(--color-anniversary);
}

@layer utilities {
  .bg-calendar {
    background-color: var(--color-day-calendar) !important;
    color: var(--color-secondary) !important;
  }
  html[data-theme='sunset'] .bg-calendar {
    background-color: var(--color-sunset-calendar) !important;
    color: var(--color-secondary);
  }
  html[data-theme='night'] .bg-calendar {
    background-color: var(--color-night-calendar) !important;
    color: var(--color-secondary);
  }
}

html[data-theme='day'] {
  --calendar-bg: var(--color-day-calendar);
}

html[data-theme='sunset'] {
  --calendar-bg: var(--color-sunset-calendar);
}

html[data-theme='night'] {
  --calendar-bg: var(--color-night-calendar);
}
