@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';
@import 'tw-animate-css';

/* css분리 */
@import './theme.css';
@import './main.css';
@import './nav.css';
@import './button.css';
@import './question.css';
@import './calendar.css';

@font-face {
  font-family: 'RomanticGumi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}

.shadow-box {
  @apply bg-secondary rounded-md border border-gray shadow-sm;
}

@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}

/* Root tokens */
:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: #5bd2ba;
  --chart-2: #56c5e1;
  --chart-3: #2a6f97;
  --chart-4: #fda786;
  --chart-5: #f7b7a3;
  --chart-6: #fbe29f;
  --chart-7: #a8c5f5;
  --chart-8: #d6a5e4;
  --chart-9: #b0b0b0;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/* Base */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Pretendard', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #292929;
  }
  #__next,
  body > div:first-child {
    height: 100%;
  }
}

[data-sonner-toaster][data-position='top-center'],
[data-sonner-toaster][data-y-position='top'][data-x-position='center'] {
  position: fixed !important;
  top: 80px !important;
  left: 0 !important;
  right: 0 !important;
  transform: none !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
  z-index: 9999 !important;
  pointer-events: none;
}

[data-sonner-toast] {
  pointer-events: auto;
}

[data-sonner-toast-wrapper] {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
